{% load staticfiles %}<!doctype html>
<html>
  <head>
    <title>NER Example {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a class="brand" href="/">NER Trainer Example</a>
      <div class="menu">
        <a class="pseudo button" href="{% url 'phrase-list-untagged' %}">Untagged Phrases</a>
        <a class="pseudo button" href="{% url 'phrase-list' %}">All Phrases</a>
        <a class="pseudo button" href="{% url 'entity-list' %}">Entities</a>
        <a class="pseudo button" href="">Test Model</a>
      </div>
    </nav>
    <main>
      <section>
        {% block content %}{% endblock %}
      </section>
    </main>
  </body>
</html>
